services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: avito
      POSTGRES_USER: avito
      POSTGRES_PASSWORD: avito
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U avito -d avito"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgres_data:
